<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>日本語</title>
    <link rel="stylesheet" href="../static/quizSen.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>단어 채우기</h1>
    <div class="button-container">
      <button id="toggle-hiragana" onclick="toggleHiragana()">
        히라가나 보기
      </button>
    </div>
    <div id="quiz-container"></div>
    <div class="next-container">
      <button id="next-button" onclick="nextQuestion()">다음</button>
    </div>
    <script src="../static/quizSen.js"></script>
    <div id="footer">
      <footer style="font-size: 0.5em;">Copyright ⓒ 2025 Team Asisuke. All rights reserved.</footer>
  </body>
</html> 
