body {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2efe7;
}
h1 {
  color: #000000;
  text-align: center;
}
.button-container {
  display: flex; 
  justify-content: flex-end;
  margin-inline-start: 47%;
  }
#quiz-container {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: #9acbd0;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}
button {
  padding: 10px;
  margin: 5px;
  background-color: #2973b2;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  flex-basis: 45%;
}
button:hover {
  background-color: #48a6a7;
}
#next-button {
  display: block;
  margin: 0 0 1px auto;;
  width: 20;
  margin-top: 20px;
}
ruby {
  display: ruby;
}
ruby rt {
  display: none;
  font-size: 0.6em;
  text-align: center;
}
.show-hiragana ruby rt {
  display: ruby-text;
}